```css
.wave {
position: absolute;
bottom: 0;
width: 200%;
height: 22%;
background: rgba(255, 255, 255, 0.05);
border-radius: 100%;
animation: waveMove 12s infinite linear;
}


.wave1 { animation-duration: 13s; }
.wave2 { animation-duration: 18s; background: rgba(255, 255, 255, 0.08); }
.wave3 { animation-duration: 26s; background: rgba(255, 255, 255, 0.12); }


@keyframes waveMove {
0% { transform: translateX(0); }
100% { transform: translateX(-50%); }
}
```


---
